//@import "styles/index";
//@import "@7span/shilp/scss/styles.scss";
@import 'components/index';

body {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.chat-profile {
  display: flex;
  align-items: center;

  .image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #999;
  }
}

.image img {
  width: 100%;
}

.chat-profile__image {
  flex: 0 0 50px;
  margin-right: 20px;
}

.chat-profile__name {
  flex: 1;

  h3 {
    margin: 0px 30px 0px 0px;
    color: #eaeaea;
    font-size: 18px;
  }
}

.info-box {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  list-style: none;
  flex: 1;

  > li {
    flex: 0 0 33.33%;

    label {
      font-size: 14px;
      color: #cacaca;
      margin: 0px;
    }

    span {
      margin-left: 5px;
      color: #999999;
      font-size: 14px;
      text-transform: capitalize;
    }
  }
}

.chat-module {
  width: 21cm;
  margin: 10px auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

.chat-module__header {
  padding: 10px 20px;
  background-color: #000;
}

.chat-module__content {
  padding: 20px;
}

.chat-message {
  display: flex;
  align-items: flex-start;
  max-width: 70%;

  &--receiver {
    margin-left: auto;
    flex-direction: row-reverse;

    .chat-time {
      i {
        margin-right: 5px;
        margin-left: 0px;
      }
    }

    .chat-message__footer {
      flex-direction: row-reverse;
    }

    .chat-name {
      margin-left: 10px;
      margin-right: 0 !important;
    }

    .chat-message__content {
      margin-left: 0px;
      margin-right: 10px;
      background: #e0e0e0;
      border-color: #e0e0e0;

      p {
        text-align: right;
      }
    }
  }
}

.chat-message__profile {
  flex: 0 0 28px;
  position: relative;

  .image {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    overflow: hidden;
  }

  img {
    width: 100%;
  }
}

.chat-message__content {
  border: 1px solid #f7f7f7;
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 14px;
  margin-left: 10px;
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);

  .chat-name {
    margin-right: 10px;
  }

  p {
    margin: 0px;
  }
}

.chat-message__footer {
  display: flex;
  justify-content: space-between;
}

.chatting {
  margin: 0px;
  padding: 0px;
  list-style: none;

  > li {
    & + li {
      margin-top: 10px;
    }
  }
}

.chat-name {
  font-weight: 600;
  margin-right: 10px;
}

.chat-time {
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #555;

  i {
    margin-right: 5px;
    font-size: 16px;
  }
}

@media (max-width: 567px) {
  .chat-message {
    max-width: 80%;
  }

  .chat-message__profile {
    flex: 0 0 20px;

    .image {
      width: 20px;
      height: 20px;
    }
  }
}
